* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Orelega One', cursive;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Ajuste responsivo */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column; /* Ajuste para dispositivos móviles */
}

.sidebar-left, .sidebar-right {
    background-color: #f4f4f4;
    padding: 20px;
    width: 100%; /* Ajuste para dispositivos móviles */
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

td a {
    margin: 5px 5px; /* Espacio entre botones */
    width: 100%;
    text-align:center;
}

.justify-content-center{
    padding-right: 2vh !important;
}

.fit-content {
    width: 1%;
    white-space: nowrap;
}

.dropdown-menu-scroll {
    max-height: 200px; /* Altura máxima del contenido del dropdown */
    overflow-y: auto; /* Activa el scroll vertical si el contenido excede la altura máxima */
}

/* Media Queries para responsividad */

@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Ajuste para tabletas y dispositivos más grandes */
    }
    
    .sidebar-left, .sidebar-right {
        width: 200px; /* Ajuste para tabletas y dispositivos más grandes */
    }
    
    .main-content {
        flex: 1;
    }
}

@media (max-width: 767px) {
    nav ul {
        flex-direction: column; /* Ajuste para dispositivos móviles */
        align-items: center;
    }
    
    nav ul li {
        margin: 10px 0;
    }
    
    .main-content {
        padding: 10px; /* Ajuste para dispositivos móviles */
    }

    /* Ajuste de enlaces en columna */
   

    td a {
        margin: 5px 2px; /* Ajusta el espacio entre los enlaces */
        width: 100%; /* Asegura que los enlaces ocupen todo el ancho disponible */
        text-align: center; /* Centra el texto en los enlaces */
    }
}
